<h3>Liste des incidents</h3>
<p-table [columns]="cols" [value]="incidents">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>{{rowData['id']}}</td>
      <td>{{rowData['titre']}}</td>
      <td>{{rowData['email']}}</td>
      <td>{{rowData['description']}}</td>
      <td>{{rowData['level']}}</td>
      <td>{{rowData['type']}}</td>
      <td> <p-progressBar [ngClass]="{'progressBar-red': rowData['progress'] > -1, 'progressbar-orange': rowData['progress'] > 20, 'progressbar-yellow': rowData['progress'] > 49, 'progressbar-green': rowData['progress'] > 75}" [value] = "rowData['progress']" [showValue]="false"></p-progressBar> </td>
      <td>{{rowData['dateCreation'] | date: 'short'}}</td>
      <td>{{rowData['dateModification'] | date: 'short'}}</td>
    </tr>
  </ng-template>
</p-table>
