<h3>Liste des incidents</h3>
<p-table [columns]="cols" [value]="incidents">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>{{rowData['id']}}</td>
      <td>{{rowData['titre']}}</td>
      <td>{{rowData['email']}}</td>
      <td>{{rowData['description']}}</td>
      <td>{{rowData['level']}}</td>
      <td>{{rowData['type']}}</td>
      <td>{{rowData['progress']}}</td>
      <td>{{rowData['dateCreation'] | date: 'short'}}</td>
      <td>{{rowData['dateModification'] | date: 'short'}}</td>
    </tr>
  </ng-template>
</p-table>
